@media  (min-width:600px) and (max-width: 1366px){
	body {
		background-image: url(img/sunny-day.jpg);
		background-size: 100%;
		background-repeat: no-repeat;

	}
	.catOne{
	margin-top: 300px;
	margin-left: 100px;
	}

	.catTwo {
		display: none;
	}
	
	.catThre {
		display: none;
	}
}

@media  (min-width:481px) and (max-width: 599px){
	body {
		background-image: url(img/night.jpg);
		background-size: 100%;
		background-repeat: no-repeat;

	}
	.catTwo{
	margin-top: 200px;
	margin-left: 100px;
	}

	.catOne {
		display: none;
	}
	
	.catThre {
		display: none;
	}
}

@media  (min-width:5px) and (max-width: 480px){
	body {
		background-image: url(img/dawn.png);
		background-size: 100%;
		background-repeat: no-repeat;

	}
	.catThre{
	margin-top: 170px;
	margin-left: 70px;
	}

	.catTwo {
		display: none;
	}
	
	.catOne {
		display: none;
	}
}

