

@media  (min-width:992px) and (max-width: 1390px){
	body {
		background-image: url(img/sunny-day.jpg);
		background-size: 100%;
		background-repeat: no-repeat;

	}
	.catOne{
	margin-top: 300px;
	margin-left: 100px;
	}

	.catTwo {
		display: none;
	}
	
	.catThre {
		display: none;
	}
}

@media  (min-width:768px) and (max-width: 991px){
	body {
		background-image: url(img/night.jpg);
		background-size: 100%;
		background-repeat: no-repeat;

	}
	.catTwo{
	margin-top: 200px;
	margin-left: 100px;
	}

	.catOne {
		display: none;
	}
	
	.catThre {
		display: none;
	}
}

@media  (min-width:0px) and (max-width: 767px){
	body {
		background-image: url(img/dawn.png);
		background-size: 100%;
		background-repeat: no-repeat;

	}
	.catThre{
	margin-top: 200px;
	margin-left: 100px;
	}

	.catTwo {
		display: none;
	}
	
	.catOne {
		display: none;
	}
}

